$dark-color: #333333;
$text-light-color: #ffffff;
$main-color: #4A90AE;
// $text-color-grey:#E0E0E0;
$link-color-grey:#BDBDBD;
$text-color-grey:#828282;
$background-color:#333333;
$border-number-color:#1C5771;
$bacground-input-color: #FAF0F0;
$steps-color-grey:#4f4f4f;