.header {
    background-color: $dark-color;
    &-block {
        display: flex;
        justify-content: space-between;
        padding-top: 22px;
        // padding-left: 7px;
        font-weight: 700;
        color: $text-light-color;
        &-contacts {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-right: 10px;
            position: relative;
            left: -53px;
            &__title {
                font-size: 12px;
                font-weight: 500;
            }
            &-phones {
                padding-top: 5px;
                &__mob {
                    font-weight: 700;
                    font-size: 24px;
                    color: $text-light-color;
                    text-decoration: none;
                }
                &__telegram {
                    position: absolute;
                    top: 3px;
                    left: -53px;
                }
            }
            &__callback {
                font-weight: 700;
                font-size: 11px;
                color: $main-color;
                text-decoration-style: dashed;
                text-decoration-line: underline;
                text-underline-offset: 2px;
                padding-left: 30px;
                // text-decoration: none;
            }
        }
        &-order {
            font-weight: 500;
            display: flex;
            margin-top: 31px;
            &__icon {
                width: 35px;
                height: 35px;
                margin-right: 15.5px;
                margin-top: 5px;
            }
            &__text {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                & span {
                    color: $main-color;
                    font-weight: 700;
                }
            }
        }
        // &-icon {
        //    & > p {
        //       font-size: 18px;
        //       font-weight: 700;
        //       color: $text-light-color;
        //    }
        //    & > span {
        //       font-size: 18px;
        //       font-weight: 700;
        //       color: $text-light-color;
        //    }
        // }
    }
}