<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
    <!-- Добавляем стили для слайдера -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <!-- Добавляем тему по умолчанию из слайдера -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />

</head>

<body>
    @@include("../blocks/modules/header/header.html")
    <section class="information">
        <div class="wrapper">
            <div class="information-block">
                <div class="information-block-left">
                    <h2 class="title">Приведём <span>лояльных клиентов</span> в нишу малоэтажного строительства <span>за
                            21
                            день</span></h2>
                    <p class="subtitle subtitle__left-line"><span><b>Оставьте заявку</b> </span> и получите проект дома
                        <br> для вашего клиента <span><b>БЕСПЛАТНО</b></span>
                    </p>
                    <img class="arrow-down-right" src="../img/svg/subtitle-arrow-down.svg" alt="arrow-left">
                    <div class="information-block-left-buttons">
                        <button class="button button__bright button__bright-cons" type="button">Консультация с
                            маркетологом</button>
                        <button class="button button__empty button__bright-cost" type="button">Смотреть
                            видеоотзывы</button>
                    </div>
                    <p class="information-block-left__text">Бонусы будут закреплены за вашим номером телефона и
                        <span>сгорят через 7 дней</span> после отправки заявки.
                    </p>
                </div>
                <div class="information-block-right">
                    <div class="video">
                        <img class="video__prevew" src="../img/image-house.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="information-price">
                <div class="big-price">
                    <img src="../img/image-30$.png" alt="030$">
                    <span>Заявки от</span>
                </div>
                <div class="big-price">
                    <img src="../img/image-10-15$.png" alt="10-15$">
                    <span>Средняя стоимость клиента</span>
                </div>
                <div class="big-price">
                    <img src="../img/image-21day.png" alt="21day">
                    <span>Средний срок окупаемости</span>
                </div>
            </div>
            <div class="information-down-text">
                <img src="../img/svg/doble-arrow-down.svg" alt="arrow down">
                <h2 class="title title__info-down">Наш кейс - доказательство нашей работы. Вы можете сами убедиться в
                    этом посмотрев как мы ездили на объект
                </h2>
                <img src="../img/svg/doble-arrow-down.svg" alt="arrow down">
            </div>
        </div>
        <hr class="line__half line__half-left">
    </section>
    <section class="tasks">
        <div class="wrapper">
            <h2 class="title">Как руководитель компании <span>PSTROY</span> окупил вложения и <span>получил
                    прибыль</span> за <span>3 недели</span> после запуска рекламной компании!</h2>
            <h3 class="title__inner-block">Задачи, которые стояли перед нами:</h3>
            <div class="tasks__wrap">
                <div data-num="1" class="tasks__block">
                    <h4 class="tasks__text">Разработать сайт</h4>
                </div>
                <div data-num="2" class="tasks__block">
                    <h4 class="tasks__text">Запустить рекламу</h4>
                </div>
                <div data-num="3" class="tasks__block">
                    <h4 class="tasks__text">Получить прибыль и реальных клиентов<br> на строительство</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="investigation">
        <div class="wrapper">
            <div class="investigation-block">
                <h3 class="title__inner-block title__inner-block-investigation">Результаты которые получил наш клиент с
                    сайта и рекламы:</h3>
                <div class="investigation-block-info">
                    <div class="investigation-block-info-price">
                        <div class="price price-application">
                            <p>3<span>$</span></p>
                            <span>Стоимость заявки</span>
                        </div>
                        <div class="price price-client">
                            <p>43<span>$</span></p>
                            <span>Стоимость клиента</span>
                        </div>
                        <div class="price price-order price-dark">
                            <p>50000<span>$</span></p>
                            <span>Заработано денег заказчиком</span>
                        </div>
                    </div>
                    <div class="investigation-block-info-text">
                        <p class="text">Всего за <span>21 день</span> после запуска рекламы наш заказчик <span>подписал
                                договор</span> с клиентом и <span>приступил</span> к строительству нового дома</p>
                        <div class="investigation-block-info-text__link">
                            <a href="#">Подробный разбор кейса</a>
                            <img src="../img/svg/double-arrow-right.svg" alt="double-arrow">
                        </div>
                    </div>
                    <div class="investigation-block-info-video">
                        <img src="..//img/srub.png" alt="srub">
                        <p>Смотрите видео-репортаж как мы ездили на объект к клиенту на первый этап строительства</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="want">
        <div class="wrapper">
            <div class="want-form">
                <div class="want-form-head">
                    <h2>Хотите также?</h2>
                    <p class="text">
                        <span>Оставляйте заявку,</span> и наш маркетолог свяжется с вами и подробно расскажет, как
                        привлечь <span>клиентов в ваш бизнес!</span>
                    </p>
                    <div class="want-form-arrow">
                        <img src="../img/svg/arrow-form.svg" alt="arrow">
                    </div>
                </div>
                <div class="want-form-block">
                    <div class="want-form-block-image">
                        <img src="../img/builder.png" alt="builder">
                    </div>
                    <div class="want-form-block-house">
                        <img src="../img/big-house.png" alt="big-house">
                    </div>
                    <div class="want-form-block-input">
                        <p class="text"><span>Заполните форму</span> и получите мощное конкурентное преимущество
                            <span>уже сегодня</span>
                        </p>
                        <div class="want-form-block-input-wrap">
                            <input class="want-form-block-input__info" type="text" placeholder="Сфера деятельности">
                            <input class="want-form-block-input__info" type="name" placeholder="Ваше имя">
                            <input class="want-form-block-input__info" type="tel"
                                placeholder="+375 ( __ ) ___ - __ - __">
                            <input class="want-form-block-input__info want-form-block-input__submit" type="submit"
                                value="Оставить заявку">
                        </div>
                        <p class="text">или напишите нам напрямую </p>
                        <div class="want-form-block__icons">
                            <div>
                                <img src="../img/icon-telegram.png" alt="icon-telegram">
                                <p>Telegram</p>
                            </div>
                            <div>
                                <img src="../img/icon-whotsapp.png" alt="icon-whatsapp">
                                <p>Whatsapp</p>
                            </div>
                            <div>
                                <img src="../img/icon-viber.png" alt="icon-viber">
                                <p>Viber</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="line__half line__half-right">
    </section>
    <section class="experience">
        <div class="wrapper">
            <h2 class="title title__experience">Опыт <span>продвижения</span> строительных компаний в
                России,<br>Беларуси и Украине показали <span>каких
                    результатов </span>можно добиться <span>всего за 1 месяц</span></h2>
            <p class="subtitle subtitle__left-line subtitle__experience">Найти <span>выгодную стоимость</span> клиента
                (лида)<br> и получить первые заказы<span> за 1-1.5
                    месяца</span></p>
            <div class="experience-number">
                <div class="experience-number-arrow">
                    <img src="../img/svg/arrow-dawn.svg" alt="arrow-dawn">
                </div>
                <div class="big-price big-price-down-space">
                    <img src="../img/image10.png" alt="image10">
                    <span>КОЛИЧЕСТВО ЗАЯВОК</span>
                </div>
                <div class="big-price big-price-down-space">
                    <img src="../img/image2-3.png" alt="image10">
                    <span>ЧИСТОЙ ПРИБЫЛИ</span>
                </div>
            </div>
            <div class="experience-info">
                <h3 class="title__inner-block">Вы всё ещё сомневаетесь в результате?</h3>
                <p class="subtitle">Посмотрите, как мы съездили к клиенту на строящийся<br>объект по заявке, которая
                    пришла с нашей рекламы:</p>
                <img src="../img/image-obgectVideo.jpg" alt="image-obgectVideo">
            </div>
        </div>
        <!-- <div class="slick-slider">
            <div class="element element-1">1</div>
            <div class="element element-2">2</div>
            <div class="element element-3">3</div>
            <div class="element element-4">4</div>
            <div class="element element-5">4</div>
            <div class="element element-6">6</div>
            <div class="element element-7">7</div>
            <div class="element element-8">8</div>
            <div class="element element-9">9</div>
            <div class="element element-10">10</div> -->
        <!-- <img src="../img/img-slider0.png" alt="img-slider0">
            <img src="../img/img-slider1.png" alt="img-slider1">
            <img src="../img/img-slider2.png" alt="img-slider2">
            <img src="../img/slider3.png" alt="slider3">
            <img src="../img/img-slider4.png" alt="img-slider4"> -->
        <!-- </div> -->
        <div class="slick-slider">

            <!--   Img 1 DIV Start -->
            <div class="element element-1"><img src="https://space-facts.com/wp-content/uploads/milky-way.png"></div>
            <!--   Img 1 DIV End -->

            <!--   Img 2 DIV Start -->
            <div class="element element-2"><img
                    src="https://www.sify.com/uploads/milkywaygalaxywikip-tcgp7jihabdeb.jpg"></div>
            <!--   Img 2 DIV End -->

            <!--   Img 3 DIV Start -->
            <div class="element element-3"><img
                    src="https://ichef.bbci.co.uk/news/1024/cpsprodpb/170E1/production/_108133449_r8000209-milky_way_galaxy-spl.jpg">
            </div>
            <!--   Img 3 DIV End -->

            <!--   Img 4 DIV Start -->
            <div class="element element-4"><img
                    src="https://cdn.images.express.co.uk/img/dynamic/151/750x445/1185556.jpg"></div>
            <!--   Img 4 DIV End -->

            <!--   Img 5 DIV Start -->
            <div class="element element-1"><img src="https://space-facts.com/wp-content/uploads/milky-way.png"></div>
            <!--   Img 5 DIV End -->

            <!--   Img 6 DIV Start -->
            <div class="element element-2"><img
                    src="https://www.sify.com/uploads/milkywaygalaxywikip-tcgp7jihabdeb.jpg"></div>
            <!--   Img 6 DIV End -->

            <!--   Img 7 DIV Start -->
            <div class="element element-3"><img
                    src="https://ichef.bbci.co.uk/news/1024/cpsprodpb/170E1/production/_108133449_r8000209-milky_way_galaxy-spl.jpg">
            </div>
            <!--   Img 7 DIV End -->

            <!--   Img 8 DIV Start -->
            <div class="element element-4"><img
                    src="https://cdn.images.express.co.uk/img/dynamic/151/750x445/1185556.jpg"></div>
            <!--   Img 8 DIV End -->

        </div>
        <div class="wrapper">
            <div class="experience-details">
                <h3>Хотите узнать подробности?</h3>
                <img src="../img/svg/img-arrow-right-down.svg" alt="img-arrow-right-down">
                <p>Жмите на кнопку ниже и убедитесь в качестве нашей работы</p>
                <button type="button">Подробнее о кейсе</button>
            </div>
        </div>
    </section>
    <section class="questions">
        <div class="wrapper">
            <h2>Пройдите опрос за <span>60 секунд</span>и узнайте стоимость привлечения клиентов на строительство домов
            </h2>
            <p>Ответьте на <span>8 вопросов</span>и получите приятный подарок:</p>
            <div class="questions-title">
                <p>Архитектурно-строительное решение<br> под ключ для ваших клиентов</p>
                <p>При заказе рекламы вы получаете<br> видеомонтаж и рекламный ролик</p>
            </div>
            <div class="questions-img">
                <img src="../img/svg/img-present.svg" alt="img-present">
            </div>
            <div class="questions-title">
                <p>Чек-лист «Топ - 5 стратегий для генерации<br> заявок в строительный бизнес»</p>
                <p>Поездка с вами на объект для сбора фото-<br> и видеоматериала для дальнейшей<br> рекламы +
                    профессиональная обработка<br> этого материала</p>
            </div>
            <div class="questions-buttons">
                <button type="button">Рассчитать стоимость клиента</button>
                <button type="button">Примеры проектирования</button>
            </div>
            <hr>
            <h2>Результаты <span>наших клиентов</span> за<br> последний <span>год</span> работы</h2>
            <div class="questions-number">
                <div>
                    <img src="../img/img-10000.png" alt="img-10000">
                    <p>ЗАПУЩЕНО РЕКЛАМНЫХ КАМПАНИЙ</p>
                </div>
                <div>
                    <img src="../img/img-$2mln.png" alt="img-$2mln">
                    <p>ПОМОГЛИ ЗАРАБОТАТЬ НАШИМ КЛИЕНТАМ</p>
                </div>
            </div>

        </div>
    </section>
    <section class="result">
        <div class="wrapper">
            <h2><span>PM-Building</span> — Быстровозводимые модульные<br> сооружения или как за<span>7 дней</span>
                сделать
                <span>72 млн.</span><br> выставленных счетов
            </h2>
            <div class="result-info">
                <div>
                    <p>8$</p>
                    <p>Цена заявки</p>
                    <p>160$</p>
                    <p>Бюджет</p>
                </div>
                <div>
                    <p>968,212$</p>
                    <p>Сумма выставленных счетов:</p>
                    <p>Наша компания по продвижению бизнеса в коммерческом строительстве принесла заказчику счетов на
                        сумму более 72 млн. рос. руб. И это далеко не предел</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/pm-building.png" alt="pm-building">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-left-down.svg" alt="img-arrow-left-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>


    <!-- add four blocks -->
    <section class="result">
        <div class="wrapper">
            <h2>Разработка <span>сайта для B2B</span> строительства и настройка рекламы в соцсетях — первый заказ взяли
                спустя <span>1.5 месяца</span></h2>
            <div class="result-info">
                <div>
                    <p>6.2$</p>
                    <p>Цена заявки</p>
                    <p>695$</p>
                    <p>Бюджет</p>
                    <p>112</p>
                    <p>Заявок</p>
                </div>
                <div>
                    <p>500 тыс$</p>
                    <p>Заработано клиентом</p>
                    <p>В течение 1,5 месяцев после того, как получил лидов, заказчик заключил договор на строительство
                        бизнес-центра и окупил все вложения</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/remstroy.png" alt="remstroy">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-right-down.svg" alt="img-arrow-right-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>
    <section class="result">
        <div class="wrapper">
            <h2><span>Brushouse</span> — строительство каркасных домов. <span>20-60 заявок в сутки,</span> заказчик
                умолял нас выключить рекламу</h2>
            <div class="result-info">
                <div>
                    <p>0.30$</p>
                    <p>Цена заявки</p>
                    <p>300$</p>
                    <p>Бюджет</p>
                    <p>2%</p>
                    <p>Договоры</p>
                </div>
                <div>
                    <p>1290+</p>
                    <p>количество заявок</p>
                    <p>На 9-й день стоимость одного клиента для нашего заказчика снизилась до 0,30$. Это очень хорошая
                        цена за лид, то есть потенциального покупателя услуги.</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/brushouse.png" alt="brushouse">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-left-down.svg" alt="img-arrow-left-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>
    <section class="result">
        <div class="wrapper">
            <h2><span>Кровельные работы</span> в Беларуси — от запуска сайта до первых продаж прошло всего <span>1.5
                    месяца</span></h2>
            <div class="result-info">
                <div>
                    <p>8.30$</p>
                    <p>Цена заявки</p>
                    <p>600$</p>
                    <p>Бюджет</p>
                    <p>10+</p>
                    <p>Договоры</p>
                </div>
                <div>
                    <p>72</p>
                    <p>количество заявок</p>
                    <p>Для удобства руководителя компании и для максимально быстрого его информирования о поступивших
                        заявках, был разработан персональный Telegram-помощник, в котором дублировались все приходящие
                        через квиз и рекламные кампании заявки. Ни
                        один клиент не был упущен!</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/review.png" alt="review">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-right-down.svg" alt="img-arrow-right-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>
    <section class="result">
        <div class="wrapper">
            <h2><span>Damask —</span>как мы получили<span>более 300</span> заявок всего <span>за 157,5$</span></h2>
            <div class="result-info">
                <div>
                    <p>0.53$</p>
                    <p>Цена заявки</p>
                    <p>157.5$</p>
                    <p>Бюджет</p>
                    <p>30+</p>
                    <p>Договоры</p>
                </div>
                <div>
                    <p>322</p>
                    <p>количество заявок</p>
                    <p>Для удобства руководителя компании и для максимально быстрого его информирования о поступивших
                        заявках, был разработан персональный Telegram-помощник, в котором дублировались все приходящие
                        через квиз и рекламные кампании заявки. Ни
                        один клиент не был упущен!</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/review2.png" alt="review2">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-left-down.svg" alt="img-arrow-left-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>
    <section class="alfaDigital">
        <div class="wrapper">
            <div class="alfaDigital-block">
                <div>
                    <img src="../img/img-photo.jpg" alt="img-photo">
                    <button type="button" class="button button__empty">Роман Пожарицкий</button>
                </div>
                <div>
                    <h2>Я как руководитель <span>Alfa Digital</span> выступаю гарантом качества услуг</h2>
                    <ul>
                        <li>Когда начинаешь бизнес с нуля, поднимаешь его с колен, впоследствии он вырастает в
                            прибыльную компанию, вот это по-настоящему вдохновляет! Таким опытом хочется делиться,
                            хочется помогать достигать успеха другим компаниям.</li>
                        <li>А когда руководишь агентством, на тебя возлагается ответственность за успехи каждого
                            заказчика. Ты координируешь работу каждого специалиста, потому что они часть личного бренда.
                        </li>
                        <li>Личный бренд — это не только красивые слова. В первую очередь это тяжёлый труд по созданию
                            репутации на рынке</li>
                    </ul>
                </div>
            </div>
            <p>Наше агентство прошло нелёгкий путь, прежде чем вырасти в компанию с высоким доходом. Я знаю, что значит
                начинать бизнес с нуля и через что нужно пройти, чтобы подняться на топовый уровень, оставив позади
                конкурентов. Когда всё это пропускаешь
                через себя и встаёшь на место клиента, выкладываешься по максимуму, чтобы помочь ему стать лидерами в
                своей нише.</p>
            <h3><span>Alfa Digital</span> — это команда, где каждый сотрудник — специалист в своём направлении и знает,
                что нужно сделать, чтобы вывести вас в топ.
            </h3>
        </div>
        <hr>
    </section>
    <section class="calendar">
        <div class="wrapper">
            <h2 class="title">Опыт Alfa Digital, который принесёт клиентов в строительный бизнес</h2>
            <div class="calendar-block">
                <div>
                    <img src="../img/svg/calendar.svg" alt="calendar">
                </div>
                <div>
                    <div>
                        <p>Выведем в прибыль ваш строительный бизнес за рекордные</p>
                        <p>21 день</p>
                    </div>
                    <div>
                        <p>Своё строительное направление в Москве внесло неоценимый вклад и опыт в нашу работу. Теперь
                            мы знаем тонкости и подводные камни в строительной нише, чтобы выбрать для вас правильную
                            рабочую стратегию продвижения</p>
                    </div>
                </div>
            </div>
            <p>Сегодня у нас в штате работает команда архитекторов. Ребята занимаются<span>разработкой архитектурных
                    решений,</span> всегда готовы помочь, учтут все ваши пожелания и возможности объекта, прежде чем
                ознакомить вас с<span>финальным результатом</span>.</p>
        </div>
        <hr>
    </section>
    <section class="reviews">
        <div class="wrapper">
            <h2>ОНИ УЖЕ <span>ДОВЕРИЛИ НАМ</span> ПРОДВИЖЕНИЕ СВОЕГО БИЗНЕСА</h2>
            <div>
                <img src="../img/stretch-ceiling.jpg" alt="stretch-ceiling">
            </div>
            <p>Дмитрий из Гомеля- компания “Дамаск”</p>
            <button type="button">Смотреть кейс</button>
            <hr>
        </div>
    </section>
    <section class="investigation">
        <div class="wrapper">
            <h2>нам важно понять, на каком вы сейчас<span>этапе</span> на пути к<span>новым</span> клиентам</h2>
            <div>
                <ul>
                    <li>Вы никогда не запускали рекламу для бизнеса в интернете</li>
                    <li>Вы неоднократно обращались в маркетинговые агентства, но исполнители брали деньги и пропадали
                    </li>
                    <li>Вы неоднократно обращались в маркетинговые агентства, но исполнители брали деньги, но результата
                        вообще не было</li>
                    <li>Уже работаете с агентством, но прошло больше 3-х недель, а результат нулевой</li>
                    <li>Агентство сливает ваши рекламные бюджеты, результат минимален, а хочется больше</li>
                    <li>Ваш знакомый сказал, что продвижение и реклама в интернете — ерунда, которая никогда не принесёт
                        клиентов. Он пробовал и у него ничего не получилось, поэтому лучше работать по старинке</li>
                    <li>Вы самостоятельно пробовали настроить рекламу, собрать сайт, но у вас не получилось</li>
                </ul>
            </div>
            <button type="button">Я сейчас здесь</button>
        </div>
    </section>
    <section class="visualization">
        <div class="wrapper">
            <h2>Бесплатная и яркая архитектурная<span>3D-визуализация дома</span> для строительных компаний!</h2>
            <img src="../img/svg/img-arrow-right-down2.svg" alt="arrow">
            <div class="visualization-block">
                <h3>Оставьте заявку на продвижение вашего бизнеса. Пусть ваш клиент увидит дом мечты раньше, чем вы его
                    построите!</h3>
                <div class="visualization-block-form">
                    <div class="visualization-block-form-img">
                        <img src="../img/3d-house.jpg" alt="3d-house">
                    </div>
                    <div>
                        <input type="tel" placeholder="+375 ( __ ) ___ - __ - __">
                        <button type="button">Получить подарок!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>



    @@include("../blocks/modules/footer/footer.html")
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script src="../js/main.js"></script>
    <!-- <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="..//js/slick.min.js"></script> -->
    <script src="../js/vendor.js"></script>
</body>

</html>