<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    @@include("../blocks/modules/header/header.html")
    <section class="information">
        <div class="wrapper">
            <div class="information-block">
                <div class="information-block-left">
                    <h2 class="title">Приведём <span>лояльных клиентов</span> в нишу малоэтажного строительства <span>за
                            21
                            день</span></h2>
                    <p class="subtitle subtitle-left-line"><span><b>Оставьте заявку</b> </span> и получите проект
                        дома<br> для вашего клиента <span><b>БЕСПЛАТНО</b></span></p>
                    <img class="arrow-down-right" src="../img/svg/subtitle-arrow-down.svg" alt="arrow-left">
                    <div class="information-block-left-buttons">
                        <button class="button button__bright button__bright-cons" type="button">Консультация с
                            маркетологом</button>
                        <button class="button button__empty button__bright-cost" type="button">Рассчитать стоимость
                            клиента</button>
                    </div>
                    <p class="information-block-left__text">Бонусы будут закреплены за вашим номером телефона и
                        <span>сгорят через 7 дней</span> после
                        отправки заявки.</p>
                </div>
                <div class="information-block-right">
                    <img src="../img/image-house.jpg" alt="">
                </div>
            </div>
            <div class="information-price">
                <div class="information-price-applications">
                    <img src="../img/image-30$.png" alt="">
                    <span>Заявки от</span>
                </div>
                <div class="information-price-clients">
                    <img src="../img/image-10-15$.png" alt="">
                    <span>Средняя стоимость клиента</span>
                </div>
                <div class="information-price-term">
                    <img src="../img/image-21day.png" alt="">
                    <span>Средний срок окупаемости</span>
                </div>
            </div>
            <div class="information-slider">
                <img src="../img/svg/arrow-left.svg" alt="">
                <h2>Наш кейс - доказательство нашей работы. Вы можете сами убедиться в этом посмотрев как мы ездили на
                    объект
                </h2>
                <img src="../img/svg/arrow-right.svg" alt="">
            </div>
            <hr>
        </div>
    </section>
    <section class="investigation">
        <div class="wrapper">
            <h1>Как руководитель компании <span>PSTROY</span> окупил вложения и <span>получил прибыль</span> за <span>3
                    недели</span> после запуска рекламной кампании!</h1>
            <p>Задачи, которые стояли перед нами:</p>
            <div class="investigation-title">
                <div>
                    <span>1</span>
                    <p>Разработать сайт</p>
                </div>
                <div>
                    <span>2</span>
                    <p>Запустить рекламу</p>
                </div>
                <div>
                    <span>3</span>
                    <p>Получить прибыль и реальных клиентов на строительство</p>
                </div>
            </div>
            <div class="investigation-block">
                <h2>Результаты которые получил наш клиент с сайта и рекламы:</h2>
                <div class="investigation-block-info">
                    <div>
                        <p>3$</p>
                        <p>Стоимость заявки</p>
                        <p>43$</p>
                        <p>Стоимость клиента</p>
                        <p>50000$</p>
                        <p>Заработано денег заказчиком</p>
                    </div>
                    <div>
                        <p>Всего за 21 день после запуска рекламы наш заказчик подписал договор с клиентом и приступил к
                            строительству нового дома</p>
                        <p>Подробный разбор кейса</p>
                        <span>>></span>
                    </div>
                    <div>
                        <img src="..//img/image-obgectVideo.jpg" alt="image-obgectVideo">
                        <p>Смотрите видео-репортаж как мы ездили на объект к клиенту на первый этап строительства</p>
                    </div>
                </div>
            </div>
            <div class="investigation-form">
                <div class="investigation-form-head">
                    <h1>Хотите также?</h1>
                    <p>
                        <link>Оставляйте заявку,</link> и наш маркетолог свяжется с вами и <br> подробно расскажет, как
                        привлечь <span>клиентов в ваш бизнес!</span>
                    </p>
                </div>
                <div class="investigation-form-block">
                    <div class="investigation-form-block-image">
                        <img src="../img/men.png" alt="men">
                    </div>
                    <div class="investigation-form-block-input">
                        <p><span>Заполните форму</span> и получите мощное конкурентное преимущество <span>уже
                                сегодня</span></p>
                        <p><input type="text" placeholder="Сфера деятельности"></p>
                        <p><input type="name" placeholder="Сфера Ваше имя"></p>
                        <p><input type="tel" placeholder="+375 ( __ ) ___ - __ - __"></p>
                        <p><input type="submit" value="Оставить заявку"></p>
                        <p>или напишите нам напрямую </p>
                        <div class="investigation-form-block__icons">
                            <div>
                                <img src="../img/icon-telegram.png" alt="icon-telegram">
                                <p>Telegram</p>
                            </div>
                            <div>
                                <img src="../img/icon-whotsapp.png" alt="icon-whatsapp">
                                <p>Whatsapp</p>
                            </div>
                            <div>
                                <img src="../img/icon-viber.png" alt="icon-viber">
                                <p>Viber</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <section class="experience">
        <div class="wrapper">
            <h2>Опыт <span>продвижения</span>строительных компаний в России,<br>Беларуси и Украине показали <span>каких
                    результатов</span>можно добиться <span>всего за 1 месяц</span></h2>
            <p>Найти <span>выгодную стоимость</span>клиента (лида)<br>и получить первые заказы<span>за 1-1.5
                    месяца</span></p>
            <div class="experience-number">
                <div>
                    <img src="../img/image10.png" alt="image10">
                    <p>КОЛИЧЕСТВО ЗАЯВОК</p>
                </div>
                <div>
                    <img src="../img/image2-3.png" alt="image10">
                    <p>ЧИСТОЙ ПРИБЫЛИ</p>
                </div>
            </div>
            <div class="experience-info">
                <h3>Вы всё ещё сомневаетесь в результате?</h3>
                <p>Посмотрите, как мы съездили к клиенту на строящийся<br>объект по заявке, которая пришла с нашей
                    рекламы:
                </p>
                <img src="../img/image-obgectVideo.jpg" alt="image-obgectVideo">
            </div>
        </div>
        <div class="experience-slider">
            <img src="../img/img-slider0.png" alt="img-slider0">
            <img src="../img/img-slider1.png" alt="img-slider1">
            <img src="../img/img-slider2.png" alt="img-slider2">
            <img src="../img/img-slider3.png" alt="img-slider3">
            <img src="../img/img-slider4.png" alt="img-slider4">
        </div>
        <div class="wrapper">
            <div class="experience-details">
                <h3>Хотите узнать подробности?</h3>
                <img src="../img/svg/img-arrow-right-down.svg" alt="img-arrow-right-down">
                <p>Жмите на кнопку ниже и убедитесь в качестве нашей работы</p>
                <button type="button">Подробнее о кейсе</button>
            </div>
        </div>
    </section>
    <section class="questions">
        <div class="wrapper">
            <h2>Пройдите опрос за <span>60 секунд</span>и узнайте стоимость привлечения клиентов на строительство домов
            </h2>
            <p>Ответьте на <span>8 вопросов</span>и получите приятный подарок:</p>
            <div class="questions-title">
                <p>Архитектурно-строительное решение<br> под ключ для ваших клиентов</p>
                <p>При заказе рекламы вы получаете<br> видеомонтаж и рекламный ролик</p>
            </div>
            <div class="questions-img">
                <img src="../img/svg/img-present.svg" alt="img-present">
            </div>
            <div class="questions-title">
                <p>Чек-лист «Топ - 5 стратегий для генерации<br> заявок в строительный бизнес»</p>
                <p>Поездка с вами на объект для сбора фото-<br> и видеоматериала для дальнейшей<br> рекламы +
                    профессиональная обработка<br> этого материала</p>
            </div>
            <div class="questions-buttons">
                <button type="button">Рассчитать стоимость клиента</button>
                <button type="button">Примеры проектирования</button>
            </div>
            <hr>
            <h2>Результаты <span>наших клиентов</span> за<br> последний <span>год</span> работы</h2>
            <div class="questions-number">
                <div>
                    <img src="../img/img-10000.png" alt="img-10000">
                    <p>ЗАПУЩЕНО РЕКЛАМНЫХ КАМПАНИЙ</p>
                </div>
                <div>
                    <img src="../img/img-$2mln.png" alt="img-$2mln">
                    <p>ПОМОГЛИ ЗАРАБОТАТЬ НАШИМ КЛИЕНТАМ</p>
                </div>
            </div>

        </div>
    </section>
    <section class="result">
        <div class="wrapper">
            <h2><span>PM-Building</span> — Быстровозводимые модульные<br> сооружения или как за<span>7 дней</span>
                сделать
                <span>72 млн.</span><br> выставленных счетов
            </h2>
            <div class="result-info">
                <div>
                    <p>8$</p>
                    <p>Цена заявки</p>
                    <p>160$</p>
                    <p>Бюджет</p>
                </div>
                <div>
                    <p>968,212$</p>
                    <p>Сумма выставленных счетов:</p>
                    <p>Наша компания по продвижению бизнеса в коммерческом строительстве принесла заказчику счетов на
                        сумму более 72 млн. рос. руб. И это далеко не предел</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/pm-building.png" alt="pm-building">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-left-down.svg" alt="img-arrow-left-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>


    <!-- add four blocks -->
    <section class="result">
        <div class="wrapper">
            <h2>Разработка <span>сайта для B2B</span> строительства и настройка рекламы в соцсетях — первый заказ взяли
                спустя <span>1.5 месяца</span></h2>
            <div class="result-info">
                <div>
                    <p>6.2$</p>
                    <p>Цена заявки</p>
                    <p>695$</p>
                    <p>Бюджет</p>
                    <p>112</p>
                    <p>Заявок</p>
                </div>
                <div>
                    <p>500 тыс$</p>
                    <p>Заработано клиентом</p>
                    <p>В течение 1,5 месяцев после того, как получил лидов, заказчик заключил договор на строительство
                        бизнес-центра и окупил все вложения</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/remstroy.png" alt="remstroy">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-right-down.svg" alt="img-arrow-right-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>
    <section class="result">
        <div class="wrapper">
            <h2><span>Brushouse</span> — строительство каркасных домов. <span>20-60 заявок в сутки,</span> заказчик
                умолял нас выключить рекламу</h2>
            <div class="result-info">
                <div>
                    <p>0.30$</p>
                    <p>Цена заявки</p>
                    <p>300$</p>
                    <p>Бюджет</p>
                    <p>2%</p>
                    <p>Договоры</p>
                </div>
                <div>
                    <p>1290+</p>
                    <p>количество заявок</p>
                    <p>На 9-й день стоимость одного клиента для нашего заказчика снизилась до 0,30$. Это очень хорошая
                        цена за лид, то есть потенциального покупателя услуги.</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/brushouse.png" alt="brushouse">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-left-down.svg" alt="img-arrow-left-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>
    <section class="result">
        <div class="wrapper">
            <h2><span>Кровельные работы</span> в Беларуси — от запуска сайта до первых продаж прошло всего <span>1.5
                    месяца</span></h2>
            <div class="result-info">
                <div>
                    <p>8.30$</p>
                    <p>Цена заявки</p>
                    <p>600$</p>
                    <p>Бюджет</p>
                    <p>10+</p>
                    <p>Договоры</p>
                </div>
                <div>
                    <p>72</p>
                    <p>количество заявок</p>
                    <p>Для удобства руководителя компании и для максимально быстрого его информирования о поступивших
                        заявках, был разработан персональный Telegram-помощник, в котором дублировались все приходящие
                        через квиз и рекламные кампании заявки. Ни
                        один клиент не был упущен!</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/review.png" alt="review">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-right-down.svg" alt="img-arrow-right-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>
    <section class="result">
        <div class="wrapper">
            <h2><span>Damask —</span>как мы получили<span>более 300</span> заявок всего <span>за 157,5$</span></h2>
            <div class="result-info">
                <div>
                    <p>0.53$</p>
                    <p>Цена заявки</p>
                    <p>157.5$</p>
                    <p>Бюджет</p>
                    <p>30+</p>
                    <p>Договоры</p>
                </div>
                <div>
                    <p>322</p>
                    <p>количество заявок</p>
                    <p>Для удобства руководителя компании и для максимально быстрого его информирования о поступивших
                        заявках, был разработан персональный Telegram-помощник, в котором дублировались все приходящие
                        через квиз и рекламные кампании заявки. Ни
                        один клиент не был упущен!</p>
                    <a href="">Подробнее о кейсе >></a>
                </div>
                <div>
                    <img src="../img/review2.png" alt="review2">
                </div>
            </div>
            <div>
                <h3>Оставьте заявку и получите<span>бесплатную 3D-визуализацию</span> дома для нового клиента.</h3>
                <img src="../img/svg/img-arrow-left-down.svg" alt="img-arrow-left-down">
                <button type="button">Оставить заявку</button>
            </div>
            <hr>
        </div>
    </section>
    <section class="alfaDigital">
        <div class="wrapper">
            <div class="alfaDigital-block">
                <div>
                    <img src="../img/img-photo.jpg" alt="img-photo">
                    <button type="button" class="button button__empty">Роман Пожарицкий</button>
                </div>
                <div>
                    <h2>Я как руководитель <span>Alfa Digital</span> выступаю гарантом качества услуг</h2>
                    <ul>
                        <li>Когда начинаешь бизнес с нуля, поднимаешь его с колен, впоследствии он вырастает в
                            прибыльную компанию, вот это по-настоящему вдохновляет! Таким опытом хочется делиться,
                            хочется помогать достигать успеха другим компаниям.</li>
                        <li>А когда руководишь агентством, на тебя возлагается ответственность за успехи каждого
                            заказчика. Ты координируешь работу каждого специалиста, потому что они часть личного бренда.
                        </li>
                        <li>Личный бренд — это не только красивые слова. В первую очередь это тяжёлый труд по созданию
                            репутации на рынке</li>
                    </ul>
                </div>
            </div>
            <p>Наше агентство прошло нелёгкий путь, прежде чем вырасти в компанию с высоким доходом. Я знаю, что значит
                начинать бизнес с нуля и через что нужно пройти, чтобы подняться на топовый уровень, оставив позади
                конкурентов. Когда всё это пропускаешь
                через себя и встаёшь на место клиента, выкладываешься по максимуму, чтобы помочь ему стать лидерами в
                своей нише.</p>
            <h3><span>Alfa Digital</span> — это команда, где каждый сотрудник — специалист в своём направлении и знает,
                что нужно сделать, чтобы вывести вас в топ.
            </h3>
        </div>
        <hr>
    </section>
    <section class="calendar">
        <div class="wrapper">
            <h2 class="title">Опыт Alfa Digital, который принесёт клиентов в строительный бизнес</h2>
            <div class="calendar-block">
                <div>
                    <img src="../img/svg/calendar.svg" alt="calendar">
                </div>
                <div>
                    <div>
                        <p>Выведем в прибыль ваш строительный бизнес за рекордные</p>
                        <p>21 день</p>
                    </div>
                    <div>
                        <p>Своё строительное направление в Москве внесло неоценимый вклад и опыт в нашу работу. Теперь
                            мы знаем тонкости и подводные камни в строительной нише, чтобы выбрать для вас правильную
                            рабочую стратегию продвижения</p>
                    </div>
                </div>
            </div>
            <p>Сегодня у нас в штате работает команда архитекторов. Ребята занимаются<span>разработкой архитектурных
                    решений,</span> всегда готовы помочь, учтут все ваши пожелания и возможности объекта, прежде чем
                ознакомить вас с<span>финальным результатом</span>.</p>
        </div>
        <hr>
    </section>



    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>